.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
violations.pyflakes.txt
cover/
docs/_build
requests_oauthlib.egg-info/
*.pyc
*.swp
*~
env/
build/
dist/
tox.ini
.tox/

.workon

t.py

t2.py
