dist: xenial
sudo: false
language: python
cache: pip
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - pypy2.7-6.0
  - pypy3.5-6.0
install:
  - pip install -r requirements.txt
  - pip install requests-mock
  - pip install coveralls
script:
  - coverage run --source=requests_oauthlib -m unittest discover
after_success:
  - coveralls

matrix:
  include:
  - name: "Black"
    python: 3.7
    install: travis_retry pip install black
    script: black --check .
    after_success: skip
