language: python
python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - coverage run --source=requests_oauthlib -m nose
after_success:
  - coveralls
