name: Run Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.8"
            tox-env: py38
          - python-version: "3.9"
            tox-env: py39
          - python-version: "3.10"
            tox-env: py310,docs,readme,ruff
          - python-version: "3.11"
            tox-env: py311
          - python-version: "3.12"
            tox-env: py312
          - python-version: "pypy3.10"
            tox-env: pypy310
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install tox
    - name: Install coveralls dependencies
      run: |
        python -m pip install coveralls coverage-lcov toml
    - name: Execute tests with tox
      env:
        TOXENV: ${{ matrix.tox-env }}
      run: |
        tox
    - name: Coverage format into lcov
      run: |
        coverage-lcov --output_file_path lcov.info
    - name: Coveralls Parallel
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.github_token }}
        flag-name: run-${{ matrix.python-version }}
        path-to-lcov: lcov.info
        parallel: true
  finish:
    needs: tests
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@1.1.3
      with:
        github-token: ${{ secrets.github_token }}
        path-to-lcov: lcov.info
        parallel-finished: true
